<!DOCTYPE html>
<html>
<head>
	<title>Knock! 학생들의 마음을 두드리다.</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./css/index.css">
</head>
<body>
	<div class="search_box">
		<div class="text_form">
			<input class="form-control form-control-lg" type="text" placeholder="박상욱의 magic class를 검색해 보세요!">
		</div>
		<div class="button">
			<input class="btn btn-primary" type="submit" value="Submit">
		</div>
	</div>
	<nav>
		<ul class="nav">
  			<li class="nav-item">
    			<a class="nav-link active" href="#">About us</a>
  			</li>
 			<li class="nav-item">
   				<a class="nav-link" href="#">강좌보기</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" href="#">내 강좌 정보</a>
  			</li>
  			<li class="nav-item">
    			<a class="nav-link" href="#">강좌 올리기</a>
  			</li>
		</ul>
	</nav>
	<content>
		<div class="boxes">
			<div class="card" style="width: 22rem;">
		  <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-9/45616145_331469800998583_8817763700606763008_n.jpg?_nc_cat=104&_nc_oc=AQkkLVBOajxf6pxy0C0xBKGI2CNqXl0M_P0CA40PWrM5SjtBN_ohrj-oNU3NRvFQhtM&_nc_ht=scontent-icn1-1.xx&oh=83e3c8c8e36323be5334c79fd8c611e1&oe=5E87A550" class="card-img-top" alt="..." style="max-height: 200px; overflow: hidden;">
		  <div class="card-body">
		    <h5 class="card-title">박상욱의 magic class</h5>
		    <p class="card-text">마술의 기초부터 심화까지, 마술을 처음 배울 때, 그 심정으로, 여러분들에게 마술을 이용한 감동을 선사합니다!</p>
		    <a href="#" class="btn btn-primary">수강하러 가기</a>
		  </div>
		  </div>
		  			<div class="card" style="width: 22rem;">
		  <img src="https://i.ytimg.com/vi/4Pn9CKd_S7M/maxresdefault.jpg" class="card-img-top" alt="...">
		  <div class="card-body">
		    <h5 class="card-title">류성민의 비문학 강화</h5>
		    <p class="card-text">갈 수록 어려워지는 수능 국어에서 비문학은 매우 중요합니다. 시험장에서 바로 사용할 수 있는 비문학 꿀팁을 대폭 선사합니다!</p>
		    <a href="#" class="btn btn-primary">수강하러 가기</a>
		  </div>
		  </div>
		  			<div class="card" style="width: 22rem;">
		  <img src="https://scontent-icn1-1.xx.fbcdn.net/v/t1.0-0/p526x296/61113614_851206528562237_2439641582765342720_n.jpg?_nc_cat=106&_nc_oc=AQlSPXvWLW6ly2hzRHRqRo8djBfloc1wVsej0nvQotg2ZhJLJlVdn97bOkwdJq-dsIs&_nc_ht=scontent-icn1-1.xx&oh=d23ca7b6a4d72e9ecd98c095cd93cd43&oe=5E5C2ADF" class="card-img-top" alt="..." style="max-height: 200px; overflow: hidden;">
		  <div class="card-body">
		    <h5 class="card-title">양재호의 人工知能</h5>
		    <p class="card-text">AI중심, 제 4차 산업혁명에서 살아남기 위한 필수 기술! python을 이용한 인공지능 프레임워크 개발에 대한 강의입니다.</p>
		    <a href="#" class="btn btn-primary">수강하러 가기</a>
		  </div>
		  </div>
		</div>
	</content>
</body>
</html>